p {
    color: red;
}

body {
    background-color: black !important;
}

#tagsWrapper {
    display: inline-block;
    width: 100%;
    background: linear-gradient(#333333 , black);
    z-index: 3; 
}
.container-fluid {
    background-color: black;
}

.topBtns {
    font-size: 19px;
}
.topBtns, .singleTag, .singlePage, .outsidePage {
    cursor: pointer !important;
    color: #E4E3E3;
    text-decoration: none !important;
    transition: all 0.3s ease-out;
}

.topBtns:hover, .singleTag:hover, .singlePage:hover, .outsidePage:hover {
    color: red !important;
    transition: all 0.3s ease-out;
}

#webName {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-shadow: 1px 1px 0px #cccccc;
    font-style: italic;
}
#webName:hover {
    text-shadow: 1px 1px 1px red;
}

.jumbotron {
    display: block;
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: black !important;
}

.pic {
    width: auto;
    max-width: 80%;
    height: auto;
}

.vid {
    width: 80%;
}

.displayedWrapper {
    margin-bottom: 15px;
    background: radial-gradient(#333333, black);
}

.alert {
    display: none;
    text-align: center;
    width: 500px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 350px;
    left: 0;
    right: 0;
    z-index: 9001;
}

#spinner {
    display: none;
    text-align: center;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    left: 0;
    right: 0;
    z-index: 9002;
}

#adL {
    position: absolute;
    top: 80px;
    left: 5px;
    width: 17%;
    height: auto;
}

#adR {
    position: absolute;
    top: 80px;
    right: 5px;
    width: 17%;
    height: auto;
}

.advert {
    opacity: 0.3;
    transition: all 0.3s ease-out;
}
.advert:hover {
    opacity: 1.0;
    transition: all 0.3s ease-out;
}

#tagsWrapper {
    position: fixed;
    left: 0px;
    top: 50px; //must be equal to navbarheight
    clear: both;
    height: 20px;
}

.description {
    margin-bottom: 5px !important;
}

.underText {
    font-size: 18px !important;
    color: #E4E3E3;
    cursor: default;
}

.plus, .minus {
    text-decoration: none !important;
    cursor: pointer;
    font-size: 65px;
    opacity: 0.5;
    transition: all 0.3s ease-out;
}

.plusInactive, .minusInactive {
    text-decoration: none !important;
    cursor: default;
    font-size: 65px;
    color: #E4E3E3 !important;
    opacity: 0.5;
}

.plus {
    color: lime;
}

.plus, .plusInactive {
    float: left;
    clear: right;
    position: relative;
    left: 18%;
    bottom: 25px;
    
}

.plus:hover {
    opacity: 1.0;
    transition: all 0.3s ease-out;
}

.minus {
    color:red;  
}

.minus, .minusInactive {
    float: right;
    position: relative;
    right: 18%;
    bottom: 25px;
}

.minus:hover {
    opacity: 1.0;
    transition: all 0.3s ease-out;
}

.points {
    margin-left: 7px;
    margin-right: 7px;
}

.pages, .tags {
    display: inline;
    list-style: none;
}

.pic:hover {
    -webkit-filter: saturate(150%);
}

.onePicMode {
    width: 100% !important; 
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: auto;
}

.modal-open {
    overflow-y: scroll !important;
    padding-right: 0px !important;
}

.pagesWrapper {
    padding: 0px ;
}

.singlePage {
    font-size: 19px;
    margin-left: 5px;
    margin-right: 5px;
}

.currentPage {
    color: red;
}

.usrDataLi {
    list-style: none;
}

.singleTag, .onePicTag, .currentTag {
    padding-left: 10px;
}

.currentTag, .onePicTag {
    color: red;
    cursor: default !important;
    text-decoration: none !important;
}

.outsidePage {
    display: block;
    font-size: 70px;
    text-align: center;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
}

.usrModalPassChangeWrapper {
    display: none;
}

body {
    font-family: Tahoma, Geneva, sans-serif !important;
}

.modal-content {
    color: #cccccc;
    text-shadow: 0px 2px 3px #555;
    background-color: #333333 !important;
}

.form-control {
    background-color: transparent;
    color: #cccccc;
}

.close {
    color: red !important;
}

#tempPass {
    color: #E4E3E3;
    text-decoration: none !important;
    transition: all 0.3s ease-out;
    display: block;
    font-size: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;  
}
#footerWrapper {
    display: none;
    margin-left: 17%;
}

